# Compiled Object files
*.slo
*.lo
*.o
*.deps
#*.log
client
server
monitor


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Latex Compiled files
*.toc
*.aux
*.synctex.gz
75.42-TP-Final-Grupo04-Documentacion.de.diseño.log
75.42-TP-Final-Grupo04-Documentacion.de.usuario.log

# Others
*~
*.reg_archivos